<!DOCTYPE html>
<html>
<head>
	<title>CoffeeParadiso</title>
	<!-- meta tags -->
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta name="theme-color" content="#232323">
  <!-- Windows Phone -->
  <meta name="msapplication-navbutton-color" content="#232323">
  <!-- iOS Safari -->
  <meta name="apple-mobile-web-app-status-bar-style" content="#232323">
  <!-- favicon -->
  <link rel="shortcut icon" href="/assets/img/favicon.png" type="image/png">
  <link rel="icon" href="/assets/img/favicon.png" type="image/png">
	<!-- stylesheets -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/assets/css/navbar.css">
	<link rel="stylesheet" href="/assets/css/login_modal.css">
	<link rel="stylesheet" href="/assets/css/main.css">
	<link rel="stylesheet" href="/assets/css/checkout.css">
	<link rel="stylesheet" href="/assets/css/cart.css">
	<link rel="stylesheet" href="/assets/css/reset.css">
</head>
<body>
  <% include navbar %>
  <% include cart %>