<% include partials/header %>


<div id="parallax-steps-img" class="parallax">
</div>

<% if (error.length) { %>
    <div class="flash">
        <div class="alert alert-danger" role="alert"> <%= error %> </div>
    </div>
<% } else if (success.length) { %>
    <div class="flash">
        <div class="alert alert-success" role="alert"> <%= success %> </div>
    </div>
<% } %>

<div class="container">
    <div><h2 style="margin-bottom: 0;">Δυστηχώς η παραγγελία σας δεν μπορεί να εξυπηρετηθεί αυτή την στιγμή.</h2></div>
    <h3>Προσπαθήστε πάλι σε λιγάκι!</h3>
        <hr>
    <iframe width="75%" height="420" src="https://www.youtube.com/embed/ee925OTFBCA?rel=0&amp;showinfo=0&amp;start=14" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
<hr>

<% include partials/footer %>